#Form_EditForm_Advertisements  .checkbox.form-check {width: 200px; height: 90px; float: left; line-height: 1; overflow: hidden;}
#Form_EditForm_Advertisements  label div {clear: both;}

#Root_ManageSlides h4, #Root_ManageSlides hr {clear: both;}
