###################################
# Start advertisements
###################################

# if true, this will search for myproject/javascript/AdvertisementsExecutive.js | myproject is usually called mysite.
AdvertisementDecorator:
  use_custom_javascript: false
  page_classes_without_advertisements:
   - UserDefineForm
   - ErrorPage
  page_classes_with_advertisements:
    - HomePage

AdvertisementAdmin:
  menu_title: Manage Slides

Advertisement:
  thumbnail_size: 100
  singular_name: Slide
  plural_name: Slides
  width: 100
  height: 100
  resize_images: 'yes'
  show_description: true
  show_title: true

#ADVANCED OPTION 1
AdvertisementStyle:
  array_of_js_file_options:
    "slideshow style 1" : "mysite/javascript/slideshow1.js"
    "slideshow style 2" : "mysite/javascript/slideshow1.js"

#ADVANCED OPTION 2
AdvertisementDecorator:
  alternative_javascript_file_array:
    - advertisements/javascript/jquery.cycle2.min.js
    - advertisements/javascript/jquery.cycle2.center.min.js
